@font-face{
    font-family:'hcom-icons';
    src:url("../fonts/hcom-icons.woff2") format("woff2"),
    url("../fonts/hcom-icons.ttf") format("truetype"),
    url("../fonts/hcom-icons.woff") format("woff"),
    url("../fonts/hcom-icons.svg") format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:fallback;
    font-display:block
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-family:inherit;
    vertical-align:baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}

body {
    line-height:1;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: #333333;
}

ol, ul {
    list-style-type: none;
}

/***** SECTION HOTEL HEAD ****/
._hotelhead .head h1{
    display: inline;
    font-size: 28px;
}

.h_star{
    color: red;
}

._hotelhead p{
    margin-top: 8px;
}

._wifi{
    cursor: pointer;
    color: green;
}

._wifi::before{
    content: '✓';
}

.h_option_list{
    margin-top: 8px;
}

.h_option_list li{
    display: inline;
}

._stamp{
    cursor: pointer;
    color: #7b1fa2;
}

._stamp span{
    text-decoration: underline dotted;
}

._stamp::before{
    content: '';
}

._waruntee{
    cursor: pointer;
    color: #063665;
}

._waruntee span{
    text-decoration: underline dotted;
}

._waruntee::before{
    content: '';
}


/***** SECTION HOTEL WARNING ****/

._hwarning ._hwarning_content article {
    background-color: #fcf2c5;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
}

._hwarning ._hwarning_content article h2{
    font-size: 18px;
    margin-bottom: 8px;
}

/**** SECTION HOTEL IMAGE ***/
._himage{
    width: 1152px;
}

._himage img{
    width: 100%;
}

.content h2{
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
}

.content div h3{
    margin-top: 8px;
}

.list{
    display: inline-block;
}

.list ul li::before{
    content: '•';
    padding-right: 12px;
}

.hilight ul li::before{
    content: '✓';
    padding-right: 12px;
}

.list ul li {
    padding: 8px;
    display: block;
}

.list{
    width: 100%;
    column-count: 3;
}

.content{
    margin-top: 18px;
    border-bottom: solid gray 1px;
    width: 100%;
}

.main {
    width: 1152px;
    margin: 0 auto;
}


@media screen and (min-width: 150px) {

    .main {
        margin: 0px 32px;
    }
    .list{
        width: 600px;
        column-count: 2;
    }

    ._himage{
        width: 600px;
    }

    ._hwarning{
        width: 600px;
    }
    .content{
        max-width: 600px;
    }

}

@media screen and (min-width: 768px) {

    .main {
        margin: 0px 32px;
    }

    .list{
        width: 768px;
        column-count: 2;
    }

    ._himage{
        width: 768px;
    }

    ._hwarning{
        width: 768px;
    }
    .content{
        max-width: 768px;
    }

}

@media screen and (min-width: 1024px) {

    .main {
        margin: 0px 32px;
    }

    ._himage{
        width: 1024px;
    }
    .list{
        width: 1024px;
        column-count: 3;
    }
    ._hwarning{
        width: 1024px;
    }
    .content{
        max-width: 1024px;
    }

}

@media screen and (min-width: 1152px) {

    .main {
        width: 1152px;
        margin: 0 auto;
    }

    ._himage{
        width: 1152px;
    }
    .list{
        width: 1152px;
        column-count: 3;
    }
    ._hwarning{
        width: 1152px;
    }
    .content{
        max-width: 1152px;
    }

}
